



<div class="content-form">
    <h3>Yorum Yazın</h3>

<form method="post">
    <input type="hidden" placeholder="ID" name="Blogid" value="@ViewBag.deger" required />
    <input type="text" placeholder="Kullanıcı adı" name="KullaniciAdi" required />
    <input type="text" placeholder="Email" name="Mail" required />
    <textarea placeholder="Mesajınız" name="Yorum"></textarea>
    <input type="submit" value="GÖNDER" />
</form>
</div>